<nav>
  <ul class="pagination">
    <li class="page-item" [appClass]="{ disabled: currentPage == 0 }">
      <span class="page-link" (click)="currentPage = currentPage - 1"
        >Prev</span
      >
    </li>
    <ng-container *appTimes="images.length; let ind = index">
      <li
        class="page-item"
        [appClass]="{ active: ind == currentPage }"
        *ngIf="checkWindowIndex(ind)"
      >
        <a class="page-link" (click)="currentPage = ind">{{ ind + 1 }}</a>
      </li>
    </ng-container>
    <li
      class="page-item"
      [appClass]="{ disabled: currentPage == images.length - 1 }"
    >
      <span class="page-link" (click)="currentPage = currentPage + 1"
        >Next</span
      >
    </li>
  </ul>
</nav>
<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" />
</div>

<ul *appTimes="5">
  <li>Hi there!</li>
</ul>
